@model CreacionEmpleado

@{
    ViewData["Title"] = "Create";

}
<div class="form">
@if (User.IsInRole("Admin") || User.IsInRole("RH"))
{
    <h1>Nuevo empleado</h1>

    @*<h4>Empleado</h4>*@
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h4>Datos personales</h4>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DNI" class="control-label"></label>
                    <input asp-for="DNI" class="form-control" />
                    <span asp-validation-for="DNI" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ObraSocial" class="control-label"></label>
                    <select asp-for="ObraSocial" class="form-control" asp-items="@Html.GetEnumSelectList<ObraSocial>()">
                        <option value="">Selecciona el tipo de telefono</option>
                    </select>
                    <span asp-validation-for="ObraSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoTelefono" class="control-label"></label>
                    <select asp-for="TipoTelefono" class="form-control" asp-items="@Html.GetEnumSelectList<TipoTelefono>()">
                        <option value="">Selecciona el tipo de telefono</option>
                    </select>
                    <span asp-validation-for="TipoTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroTelefono" class="control-label"></label>
                    <input asp-for="NumeroTelefono" class="form-control" />
                    <span asp-validation-for="NumeroTelefono" class="text-danger"></span>
                </div>
                <hr class="solid">
                <h4>Datos empleado</h4>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input asp-for="Foto" image="image/*" />
                </div>
@*                <div class="form-group">
                    <label asp-for="Legajo" class="control-label"></label>
                    <input asp-for="Legajo" class="form-control" />
                    <span asp-validation-for="Legajo" class="text-danger"></span>
                </div>*@
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EmpleadoActivo" /> @Html.DisplayNameFor(model => model.EmpleadoActivo)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RH" /> @Html.DisplayNameFor(model => model.RH)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="PosicionId" class="control-label"></label>
                    <select asp-for="PosicionId" class="form-control" asp-items="ViewBag.PosicionId"></select>
                    <span asp-validation-for="PosicionId" class="text-danger"></span>
                </div>
                <hr></hr>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
