.btn-login{
    width: 50%;
    margin-left: 13%;
}

.login-container{
    width: 100%;
    height: 100%;
}

.image-container {
}

.loginform-container {
    margin-left: 35% !important;
}

.image-logo{
    margin-left: 42%;
}

.input-login{
    width:72% !important;
    margin-bottom:12px;
}

.buttons-container{
    width:100%;
    margin-top: 32px;
}
.btn-preload {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: dodgerblue;
    text-decoration: underline;
}