@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ERP Empleados - Grupo D</h1>
</div>

@if (ViewBag.mensaje != null)
{
    <div class="text-center">
        <p>Carga de feed finalizada</p>
    </div>
}

