@model ERP_D.ViewModels.Gerencia.CreacionGerencia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gerencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Datos nueva gerencia</h4>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EsGerenciaGeneral" /> @Html.DisplayNameFor(model => model.EsGerenciaGeneral)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GerenciaId" class="control-label"></label>
                @*<select asp-for="GerenciaId" class ="form-control" asp-items="ViewBag.GerenciaId"></select>*@
                @Html.DropDownList("GerenciaId", (SelectList)ViewBag.GerenciaId, "Por favor, seleccione", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="ResponsableId" class="control-label"></label>
                <select asp-for="ResponsableId" class ="form-control" asp-items="ViewBag.ResponsableId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class ="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <hr class="solid">
            <h4>Datos centro de costo</h4>
            <div class="form-group">
                <label asp-for="NombreCentro" class="control-label"></label>
                <input asp-for="NombreCentro" class="form-control" />
                <span asp-validation-for="NombreCentro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoMaximo" class="control-label"></label>
                <input asp-for="MontoMaximo" class="form-control" />
                <span asp-validation-for="MontoMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
