@model ERP_D.Models.Gerencia

@{
    ViewData["Title"] = "Edit";
}
<div class="form">

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
                @if(!ViewBag.AnyGerenciaGeneral)
                {
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EsGerenciaGeneral" /> @Html.DisplayNameFor(model => model.EsGerenciaGeneral)
                        </label>
                    </div>
                }else{
                    <input type="hidden" asp-for="EsGerenciaGeneral" />
                }
            <div class="form-group">
                <label asp-for="DireccionId" class="control-label"></label>
                @*<select asp-for="GerenciaId" class="form-control" asp-items="ViewBag.GerenciaId"></select>*@
                    @Html.DropDownList("DireccionId", (SelectList)ViewBag.DireccionId, "Por favor, seleccione", new { @class = "form-control" })
                <span asp-validation-for="DireccionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsableId" class="control-label"></label>
                <select asp-for="ResponsableId" class="form-control" asp-items="ViewBag.ResponsableId"></select>
                <span asp-validation-for="ResponsableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentroDeCostoId" class="control-label"></label>
                <select asp-for="CentroDeCostoId" class="form-control" asp-items="ViewBag.CentroDeCostoId"></select>
                <span asp-validation-for="CentroDeCostoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
