<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP_D</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilos.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="collapse navbar-collapse" onclick="boldSelected()">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                        @if(signInManager.IsSignedIn(User)){
                            <ul class="navbar-nav flex-grow-1 " >
                            <li class="nav-item menu-text">
                                <a class="nav-link active text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Administrador">Admin</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("RH"))
                            {
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark menu-text" asp-area="" asp-controller="Gastos" asp-action="Index">Gastos</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Posiciones" asp-action="Index">Posiciones</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Imagenes" asp-action="Index">Imagenes</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Gerencias" asp-action="Index">Gerencias</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Telefonos" asp-action="Index">Telefonos</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="CentrosDeCosto" asp-action="Index">Centros de costo</a>
                                </li>
                            }else {
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Mis datos</a>
                                </li>
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark menu-text" asp-area="" asp-controller="Gastos" asp-action="Index">Mis gastos</a>
                                </li>
                            }
                            <li class="nav-item menu-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CerrarSesion">Cerrar Sesion</a>
                            </li>
                            </ul>
                        } else{
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item menu-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="IniciarSesion">Iniciar Sesion</a>
                                </li>
                            </ul>
                        }
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


