
@{
    ViewData["Title"] = "AccesoDenegado";
}

<style>

    .denegado{
        position:relative;
        left: 34%;
    }

</style>

<div class="denegado">
    <img src="../Images/restricted.jpg" class="image-fluid" alt="IMAGES" />
</div>
