@model ERP_D.ViewModels.Empresa.EdicionEmpresa

@{
    ViewData["Title"] = "Edit";
}
<div class="form">
<br />
<h4>@Model.Nombre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubro" class="control-label"></label>
                <input asp-for="Rubro" class="form-control" />
                <span asp-validation-for="Rubro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Volver</a>
</div>
</div class="form">
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
