@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>No se puede borrar, posicion asociada a empleado</h2>
</div>    
<div>
    <a asp-action="Index">Volver</a>
</div>