.navbar-brand{
    background:url(../Images/logo.png) no-repeat;
    background-size: 40px 40px;
    height:40px;
    width: 40px;
    margin: 0px;
}

.header-border {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    color: white;
    background: darkmagenta;
}

.custom-table {
    position: relative;
    left: 7px;
    width: 98%;
    box-shadow: 1px 2px 3px grey;
}

.form {
    position: relative;
    margin:15px;
}